<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <title>Dodaj dodatek do produktu</title>
</head>
<body>

<main layout:fragment="content">
<h1>Dodaj dodatek do produktu</h1>

<form th:action="@{/admin/products/{id}/extra(id=${productId})}" method="post">
    <label>ID dodatku:</label><br>
    <input type="number" name="extraId" required><br><br>

    <button type="submit">Dodaj</button>
</form>

<br>
<a th:href="@{/admin}">⬅ Powrót</a>
</main>
</body>
</html>
