<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <title>Dodaj składnik do produktu</title>
</head>
<body>
<main layout:fragment="content">

<h1>Dodaj składnik do produktu</h1>

<form th:action="@{/admin/products/{id}/ingredient(id=${productId})}" method="post">
    <label>ID składnika:</label><br>
    <input type="number" name="ingredientId" required><br><br>

    <button type="submit">Dodaj</button>
</form>

<br>
<a th:href="@{/admin}">⬅ Powrót</a>
</main>
</body>
</html>
