
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <title>Edytuj produkt</title>
</head>
<body>
<main layout:fragment="content">

<h3>Edytuj produkt</h3>

<form th:action="@{/admin/products/{id}/edit(id=${product.id})}" method="post">

    <input type="text"
           name="name"
           th:value="${product.name}"
           required/>

    <input type="number"
           name="priceCents"
           th:value="${product.priceCents}"
           required/>

    <select name="categoryId" required>
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}"
                th:selected="${product.category != null and category.id == product.category.id}">
        </option>
    </select>

    <button type="submit">Zapisz</button>
</form>
</main>
</body>
</html>
