<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin panel</title>
</head>
<body>

<h1>Admin panel</h1>

<nav>
    <a th:href="@{/admin/products}">➕ Dodaj produkt</a> |
    <a th:href="@{/admin/ingredients}">➕ Dodaj składnik</a> |
    <a th:href="@{/admin/extras}">➕ Dodaj dodatek</a> |
    <a th:href="@{/}">🏠 Strona główna</a>
</nav>

<hr>

<h2>Produkty</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Cena (gr)</th>
        <th>Akcje</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.priceCents}"></td>
        <td>
            <a th:href="@{/admin/products/{id}/ingredient(id=${product.id})}">
                ➕ Składnik
            </a>
            |
            <a th:href="@{/admin/products/{id}/extra(id=${product.id})}">
                ➕ Dodatek
            </a>
        </td>
    </tr>
</table>

<hr>

<h2>Dodatki</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Cena (gr)</th>
<!--        <th>Akcje</th>-->
    </tr>
    <tr th:each="extra : ${extras}">
        <td th:text="${extra.id}"></td>
        <td th:text="${extra.name}"></td>
        <td th:text="${extra.priceCents}"></td>
<!--        <td>-->
<!--            <a th:href="@{/admin/products/{id}/ingredient(id=${product.id})}">-->
<!--                ➕ Składnik-->
<!--            </a>-->
<!--            |-->
<!--            <a th:href="@{/admin/products/{id}/extra(id=${product.id})}">-->
<!--                ➕ Dodatek-->
<!--            </a>-->
<!--        </td>-->
    </tr>
</table>

</body>
</html>
