<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin panel</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Panel administratora</h1>

<p>Zalogowano jako ADMIN</p>

<ul>
    <li><a th:href="@{/admin/products}">Produkty</a></li>
    <li><a th:href="@{/admin/extras}">Dodatki</a></li>
    <li><a th:href="@{/admin/ingredients}">Składniki</a></li>
</ul>

<form th:action="@{/logout}" method="post">
    <button type="submit">Wyloguj</button>
</form>

</body>
</html>
